*.pyc
.idea/
bin/
db/
ib-flex-analyzer-master/ib-flex-analyzer-master.zip
shell/gw.sh.orig
volibutils/__pycache__/
*.log
*.pid
/docs/html/
/docs/latex/
/docs/sphinx/_build/
/docs/_build/
docs/_static/
docs/_templates/
ipython/.ipynb_checkpoints/
operations/__pycache__/
volsetup/__pycache__/
/ipython/.ipynb_checkpoints/Testing1-checkpoint.ipynb
